* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/assets/img/patterhrpwebp.webp);
    background-size: 9cm;
    background-repeat: repeat;
    background-attachment: fixed;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    text-align: center;

}

.intro {
    background-image: url(/assets/img/fb1b7e3e2dfb6b7d7dbe6a17bb6be580.jpg);
    background-size: contain;
    background-position: center;
    height: 100vh;
    margin: auto;
    color: white;
    padding-top: 2em;
}

h1,
h2 {
    font-size: 3em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-top: 20px;

}

.intro p {
    font-size: 1em;
    font-weight: 700;
    width: 600px;
    margin: auto;
    text-shadow: 3px 3px 2px black;
}

.cont-peliculas {}

.peliculas {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: auto;
    gap: 2em;
}

.lasCasas {
    /* background-image: url(/assets/img/patternCasas.jpg);
    background-repeat: repeat; */
    display: block;
    justify-content: center;
    margin: auto;
}

.card-casas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
    gap: 20px;
    justify-content: center;

}

.card-casas div {
    border: 2px solid black;
    border-radius: 15px;
    width: 400px;
    height: 80%;
    display: inline-block;
    margin: auto;
    padding: 1em;
}

.card-casas img {
    height: 40%;
    width: 60%;
    margin: auto;
    padding: 15px 0;
}

.card-casas p {
    font-size: 12px;
    font-weight: 600;
    color: azure;
    text-shadow: 2px 2px 4px black;
}

.griffindor {
    background-color: #831319b4;

}

.hufflepuff {
    background-color: #fced19a2;
}

.ravenclaw {
    background-color: #1c1348a4;
}

.slytherin {
    background-color: #3ea1469f;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}