* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/assets/img/patternHR2.jpg);
    background-size: 9cm;
    background-repeat: repeat;
    background-attachment: fixed;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    text-align: center;

}

.intro {
    background-image: url(/assets/img/fb1b7e3e2dfb6b7d7dbe6a17bb6be580.jpg);
    background-size: contain;
    background-position: center;
    height: 100vh;
    margin: auto;
    color: white;
    padding-top: 2em;
}

h1,
h2 {
    font-size: 2.5em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-top: 20px;

}

.intro p {
    font-size: 1em;
    font-weight: 700;
    width: 600px;
    margin: auto;
    text-shadow: 3px 3px 2px black;
}



.resumen {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1em;
    min-height: 100vh;


}

.resumen img {
    width: 70%;
    margin-top: 1em;
    border-radius: 15px;
}

.resumen p {
    font-size: 13px;
    font-weight: 500;
    color: azure;
    text-shadow: 1px 1px 2px black;
    text-decoration-color: #080808;
}

.resumen div {
    background-color: azure;
    border: 2px solid black;
    border-radius: 15px;
    height: 50%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 3px 3px 10px rgb(97, 15, 15);
}

.resumen button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}

.resumen button:hover {
    background-color: #2c5277;
    cursor: pointer;
}

h3 {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.card-hogwarts {
    background-image: url(/assets/img/b9e00052f8ed37d85e54fb109cb1b177.jpg);
    background-size: contain;
}

.card-personajes {
    background-image: url(/assets/img/hv.jpg);
    background-size: contain;
}

.card-peliculas {
    background-image: url(/assets/img/peliculas.jog.jpg);
    background-size: contain;
}

.card-juegos {
    background-image: url(/assets/img/harrypotterquidditch.webp);
    background-size: cover;
    background-position: 40%;
}


.peliculas {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: auto;
    gap: 2em;
}

.lasCasas {
    /* background-image: url(/assets/img/patternCasas.jpg);
    background-repeat: repeat; */
    display: block;
    justify-content: center;
    margin: auto;
}

.card-casas {
    width: 70%;
    margin: auto;
    gap: 20px;
    justify-content: center;

}

.card-casas div {

    border: 2px solid black;
    border-radius: 15px;
    width: 100%;
    height: 50%;
    display: flex;
    margin: 10px auto;
    padding: 1em;

}

.card-casas img {
    height: 40%;
    width: 60%;
    margin: auto;
    padding: 15px 0;
}

.card-casas p {
    font-size: 1em;
    font-weight: 600;
    color: azure;
    text-shadow: 2px 2px 4px black;
    align-self: center;
}

.griffindor {
    background-color: #831319b4;

}

.hufflepuff {
    background-color: #fced19a2;
}

.ravenclaw {
    background-color: #1c1348a4;
}

.slytherin {
    background-color: #3ea1469f;
}

.test {
    background-image: url(/assets/img/mesa.jpg);
    background-size: cover;
    width: 40%;
    height: 700px;
    display: inline-block;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px black;

}

.test div {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(168, 167, 167, 0.466);
    margin: 10px auto;
    width: 80%;
    height: 40%;

}

.test h2 {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-top: 5px;
}

.test p {
    font-size: 14px;
    font-weight: 700;
    text-shadow: 2px 2px 3px rgb(82, 80, 80);
}

test label {
    font-size: 10px;
}

.juegos {
    height: 100vh;
    margin: 10px;
}

#grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: auto;
    width: 80%;
}

#grid div {
    border: 2px solid black;
    width: 60%;
    height: 400px;
    padding: 10px;
    margin: 5px;
    display: grid;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.562);
}

#grid div img {
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.peliculas {
    min-width: 100vh;
}

.peliculas div {
    border: 2px solid gray;
    background-color: rgba(128, 128, 128, 0.658);
    padding: 10px;
    border-radius: 20px;
    margin: 10px auto;
}

.peliculas div p {
    font-size: 1em;
    font-weight: 400;
}

footer {

    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;
    /* position: fixed; */
    width: 100%;
    /* bottom: 0; */
}